.main-navigation {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(244, 244, 244);
}

.nav-links {
  margin: 0 1rem;
}

.text {
  padding: 0.25rem 0;
  margin: 0.5rem 1rem;
  color: #000000a6;
  text-decoration: none;
}

.text:hover,
.text:focus {
  cursor: pointer;
  border-bottom: 3px solid green;
  transition: 0.1s;
}

.icon {
  font-size: 1.5rem;
  display: none;
}

.icon:hover {
  cursor: pointer;
}

.hamburger-menu {
  background: rgb(255, 255, 255);
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
  }
  .icon {
    margin: 2rem;
    display: flex;
    position: relative;
  }
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 1rem 0;
    top: 40px;
  }
}
