.storehouse-section {
  margin: 4rem 2rem 0 2rem;
}

.storehouse-card {
  margin: 2rem auto;
  max-width: 25rem !important;
}

.storehouse-card:hover {
  cursor: pointer;
  background-color: rgb(244, 244, 244);
  transition: 0.2s;
}

.card-buttons {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-buttons a {
  width: 100%;
  padding: 0;
}

.card-buttons button {
  width: 100%;
  padding: 0;
}

.add-button {
  width: 15%;
}

.search-input {
  width: 15% !important;
}

@media screen and (max-width: 768px) {
  .storehouse-section {
    flex-direction: column;
  }

  .storehouse-card {
    margin: 1rem auto;
  }
}

@media screen and (min-width: 768px) {
  .card-buttons a {
    width: fit-content;
  }

  .card-buttons button {
    width: fit-content;
  }
}

@media screen and (max-width: 992px) {
  .add-button-container {
    display: flex;
  }

  .add-button {
    justify-content: center;
  }
  .search-input {
    min-width: 25% !important;
  }
}
