.product-section {
  margin: 4rem 2rem 0 2rem;
  display: flex;
}

.product-card {
  margin: auto;
}

.product-card:hover {
  background-color: rgb(244, 244, 244);
  transition: 0.2s;
}

.product-buttons {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .product-section {
    flex-direction: column;
  }

  .product-card {
    margin: 1rem auto;
  }
}
