.home {
  margin: 0 !important;
  max-width: 100%;
  overflow-x: hidden;
  background-color: rgb(244, 244, 244);
  padding: 1rem 1rem 0 1rem;
}

.title {
  color: green;
}

.text {
  font-size: 1.25rem;
}

.app-info-image {
  width: 100%;
}

.feature-cards {
  margin: 4rem 0;
}

.icon {
  color: green;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}
