.footer {
  padding: 2rem;
  background-color: rgb(244, 244, 244);
  text-align: center;
}

.footer-element {
  color: green;
}

.footer-element:hover {
  cursor: pointer;
  color: rgb(39, 182, 182);
  transition: 0.2s;
}
